nameOverride: ""
fullnameOverride: ""

replicaCount: 1

# This sets the container image more information can be found here: https://kubernetes.io/docs/concepts/containers/images/
image:
  repository: devyusupov/statushawk-api-gateway
  pullPolicy: IfNotPresent
  tag: "0.11.0"

# This is for the secrets for pulling an image from a private repository more information can be found here: https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/
imagePullSecrets: []

env:
  USE_DOCKER: "yes"
  DJANGO_SETTINGS_MODULE: "config.settings.local"
  DB_ENGINE: "django.db.backends.postgresql"

# --------------------
# API GATEWAY (HTTP)
# --------------------

api:
  enabled: true
  replicaCount: 2

  service:
    type: ClusterIP
    port: 80
    targetPort: 8000
  
  resources:
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 100m
      memory: 256Mi
  
  livenessProbe:
    path: /health/
    initialDelaySeconds: 30
  readinessProbe:
    path: /health/
    initialDelaySeconds: 5
  
  ingress:
    enabled: true
    className: "nginx"

    annotations:
    # Example: If using cert-manager for auto-HTTPS
    # cert-manager.io/cluster-issuer: "letsencrypt-prod"
    # kubernetes.io/ingress.class: nginx
    hosts:
      - host: api.statushawk.local
        paths:
          - path: /
            pathType: Prefix
            port: 80


# --------------------
# RUNNER SERVICE (Background Worker)
# --------------------
runner:
  enabled: true
  replicaCount: 1

  concurrency: 20
  loglevel: "info"

  resources:
    limits:
      cpu: 200m
      memory: 256Mi
    requests:
      cpu: 100m
      memory: 128Mi

  autoscaling:
    enabled: true
    minReplicas: 1
    maxReplicas: 10
    targetCPUUtilizationPercentage: 50


# ----------------------
# DATABASE
# ----------------------
postgresql:
  enabled: true
  image:
    tag: "17-alpine"
  auth:
    postgresPassword: "password"
    database: "db"
  primary:
    persistence:
      enabled: false


# -------------------------
# BROKER (Redis)
# -------------------------
redis:
  enabled: true
  image:
    tag: "7.2-alpine"
  auth:
    enabled: false


# ------------------------
# Admin User
# ------------------------
superuser:
  enabled: true
  email: "admin@statushawk.com"
  password: "admin_password_123"
