@import "tailwindcss";

@layer base {
  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  }

  body {
    @apply bg-zinc-50 text-zinc-900;
    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
  }

  #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
  }
}