version: "3.9"

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    ports:
      - "8000:8000"
    environment:
      - DB_NAME=db
      - DB_USER=user
      - DB_PASSWORD=password
      - DB_HOST=db
      - DB_PORT=5432
      - DB_ENGINE=django.db.backends.postgresql
      - DJANGO_SECRET_KEY=django-insecure-^jihrnki)62kxf_9m$qv+kt0@ea927lb#%v*ci5&(bybfb^2@m
    volumes:
      - ./backend/app:/app/app
    depends_on:
      - db
    command: >
      sh -c "python app/manage.py migrate &&
      python app/manage.py runserver 0.0.0.0:8000"

  db:
    image: postgres:17
    environment:
      - POSTGRES_DB=db
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_HOST=db
    volumes:
      - ./.db/data/:/var/lib/postgresql/data
  
  runner:
    build:
      context: ./api-gateway
      dockerfile: Dockerfile.dev
    env_file:
      - ./backend/.env
    volumes:
      - ./backend/app:/app/app
    depends_on:
      - db
      - redis
    command: "celery -A app.config worker -Q runner_queue --pool=gevent --concurrency=20 --loglevel=info"

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
