version: "3.9"

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    volumes:
      - ./backend/app:/app/app
      - ./backend/tests:/app/tests
    depends_on:
      - db
      - redis
    command: >
      sh -c "python app/manage.py migrate &&
      python app/manage.py runserver 0.0.0.0:8000"
  
  runner:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    env_file:
      - ./backend/.env
    volumes:
      - ./backend/app:/app/app
      - ./backend/tests:/app/tests
    depends_on:
      - db
      - redis
    command: "celery -A config worker -Q runner_queue --pool=gevent --concurrency=20 --loglevel=info"

  db:
    image: postgres:17
    env_file:
      - ./backend/.env
    volumes:
      - ./.db/data/:/var/lib/postgresql/data
  
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
  
  redis-insight:
    image: redis/redisinsight:latest
    ports:
      - "5540:5540"
    depends_on:
      - redis
