version: "3.9"

services:
  api-gateway:
    build:
      context: ./api-gateway
      dockerfile: Dockerfile.dev
    ports:
      - "8000:8000"
    env_file:
      - ./api-gateway/.env
    volumes:
      - ./api-gateway:/app
    command: >
      sh -c "python manage.py migrate &&
      python manage.py runserver 0.0.0.0:8000"

  auth-db:
    image: postgres:17
    env_file:
      - ./api-gateway/.env
    volumes:
      - ./.db/auth/:/var/lib/postgresql/data
