replicaCount: 1
image:
  repository: devyusupov/statushawk-runner
  pullPolicy: IfNotPresent
  tag: "0.2.2"

service:
  type: ClusterIP
  port: 80
  targetPort: 8000

serviceAccount:
  create: true
  annotations: {}
  name: ""
  automount: true

httpRoute:
  enabled: false

ingress:
  enabled: false

resources:
  requests:
    cpu: 100m
    memory: 512Mi
  limits:
    cpu: 500m
    memory: 512Mi

autoscaling:
  enabled: false
  minReplicas: 2
  maxReplicas: 5
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80

postgres:
  enabled: true
  auth:
    username: hawk_user
    password: StatusHawk
    database: main
  primary:
    persistence:
      enabled: false

env:
  djangoSecretKey: "unsafe-default-change-me"
  debug: "True"
  allowedHosts: "*"

volumes: []
volumeMounts: []
nodeSelector: {}
tolerations: []
affinity: {}
