apiVersion: apps/v1
kind: Deployment
metadata:
    name: {{ .Release.Name }}-postgresql
    labels:
        app: {{ .Release.Name }}-postgres
spec:
    replicas: 1
    strategy:
      type: Recreate
    selector:
        matchLabels:
            app: {{ .Release.Name }}-postgres
    template:
        metadata:
            labels:
                app: {{ .Release.Name }}-postgres
        spec:
            containers:
                - name: postgres
                  image: postgres:15-alpine
                  ports:
                    - containerPort: 5432
                  env:
                    - name: POSTGRES_DB
                      value: {{ .Values.postgres.auth.database }}
                    - name: POSTGRES_USER
                      value: {{ .Values.postgres.auth.username }}
                    - name: POSTGRES_PASSWORD
                      value: {{ .Values.postgres.auth.password }}

                  volumeMounts:
                    - name: postgres-storage
                      mountPath: /var/lib/postgresql/data
            
            volumes:
              - name: postgres-storage
                persistentVolumeClaim:
                  claimName: {{ .Release.Name }}-postgres-pvc
