apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "statushawk.fullname" . }}-config
  labels:
    {{- include "statushawk.labels" . | nindent 4 }}
data:
  USE_DOCKER: {{ .Values.env.USE_DOCKER | quote }}
  DJANGO_SETTINGS_MODULE: {{ .Values.env.DJANGO_SETTINGS_MODULE | quote }}
  DB_ENGINE: {{ .Values.env.DB_ENGINE | quote }}

  {{- if .Values.postgresql.enabled }}
  DB_HOST: "{{ include "statushawk.fullname" . }}-postgres"
  DB_PORT: "5432"
  DB_NAME: {{ .Values.postgresql.auth.database | quote }}
  DB_USER: "postgres"
  DB_ENGINE: django.db.backends.postgresql
  {{- end }}

  {{- if .Values.redis.enabled }}
  CELERY_BROKER_URL: "redis://{{ include "statushawk.fullname" . }}-redis:6379/0"
  {{- end }}
