apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "statushawk.fullname" . }}-restore-loops
  annotations:
    "helm.sh/hook": post-install,post-upgrade
    "helm.sh/hook-delete-policy": hook-succeeded

spec:
  template:
    spec:
      restartPolicy: Never
      imagePullSecrets:
        {{- toYaml .Values.imagePullSecrets | nindent 8 }}
      containers:
        - name: restorer
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          command: ["python", "app/manage.py", "restore_loops"]

          envFrom:
          - configMapRef:
              name: {{ include "statushawk.fullname" . }}-config
          - secretRef:
              name: {{ include "statushawk.fullname" . }}-secrets
