name: API Gateway testing

on:
    push:
        paths:
            - "services/api-gateway/**"
    pull_request:
        paths:
            - "services/api-gateway/**"

jobs:
    lint:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4
            
            - name: Setup Python
              uses: actions/setup-python@v5
              with:
                    python-version: '3.12'
                    cache: 'poetry'
            - name: Install Poetry
              run: pipx install poetry

            - name: Create virtualenv manually
              run: |
                cd services/api-gateway
                python3.12 -m venv .venv
                source .venv/bin/activate
                poetry config virtualenvs.create false
                poetry install --no-interaction

            - name: Run linter
              run: |
                cd services/api-gateway &&
                poetry run flake8 .
    
    test:
        runs-on: ubuntu-latest
        needs: lint
        steps:
            - name: Setup python
              uses: actions/setup-python@v5