name: API Gateway testing

on:
    push:
        paths:
            - "services/api-gateway/**"
    pull_request:
        paths:
            - "services/api-gateway/**"

jobs:
    lint:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4
            
            - name: Setup Python
              uses: actions/setup-python@v5
              with:
                python-version: '3.12'
            - name: Install Poetry
              uses: snok/install-poetry@v1 
              with:
                version: 2.2.1

            - name: Install dependencies and configure environment
              run: |
                cd services/api-gateway
                poetry install --no-root --no-interaction

            - name: Run linter
              run: |
                cd services/api-gateway &&
                poetry run flake8 .
    
    test:
        runs-on: ubuntu-latest
        needs: lint
        steps:
            - uses: actions/checkout@v4

            - name: Setup python
              uses: actions/setup-python@v5
              with:
                python-version: '3.12'
            
            - name: Docker Compose Build
              run: |
                cd services/ &&
                docker compose -f docker-compose.test.yaml build
            - name: Run Tests
              run: |
                cd services/ &&
                ./test.sh api-gateway
      
    build-and-push:
        runs-on: ubuntu-latest
        needs: test
        steps:
            - uses: actions/checkout@v4

            - name: Login to Docker Hub
              uses: docker/login-action@v3
              with:
                username: ${{ secrets.DOCKER_USERNAME }}
                password: ${{ secrets.DOCKER_PASSWORD }}

            - name: Setup Poetry (Required for versioning in subsequent steps)
              uses: snok/install-poetry@v1 
              with:
                version: 2.2.1
            
            - name: Build, Tag, and Push Image
              run: |
                cd services &&
                ./build-and-push.sh api-gateway