name: API Gateway testing

on:
    push:
        paths:
            - "services/api-gateway/**"
    pull_request:
        paths:
            - "services/api-gateway/**"

jobs:
    lint:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4
            
            - name: Setup Python
              uses: actions/setup-python@v5
              with:
                    python-version: '3.12'
            - name: Install Poetry
              run: pipx install poetry
            - name: Install dependencies
              run: |
                cd services/api-gateway &&
                poetry install
            - name: Run linter
              run: |
                cd services/api-gateway &&
                poetry run flake8 .
              